*{
    padding:0px;
    margin: 0px;
    text-decoration: none;
}

body {
    background-color: lightblue;
}
.wrapper {
    padding: 20px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

/*STYLING THE LOGO AND THE GREETING*/
.logo {
    width: 60px;
    height: auto;
    display:block;
    margin: auto;
    
    
}
.greeting {
    font-size: 16px;
    
}

/*NOW STYLING THE REST OF THE CODES*/

main .grid div:nth-child(1) {
    background-color: #111;
    color: #111;
}
main .grid div:nth-child(2) {
    background-color:yellow;
    color: yellow;
}
main .grid div:nth-child(4) {
    background-color: #111;
    color: #111;
}
main .grid div:nth-child(5) {
    background-color: yellow;
    color: yellow;
}
main .grid div:nth-child(6) {
    background-color: rgb(216, 56, 56);
    color: rgb(216, 56, 56);
}


header{
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-style: oblique;
    text-transform: uppercase;
    text-align: center;
    background-color: lightgreen;
    padding-top: 3%;
    padding-bottom: 3%;
    text-shadow: blue;
    background-color: rgb(233, 50, 50);

}

.home-page{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000px;
    font-style: normal;
    text-transform: uppercase;
    margin-top: 5px;
    color: #111;
    margin-left: 40%;
    background-color: azure;
}

a.home-page:hover{
    color: green;
    font-size: x-large;
    border:1px solid #111;
    border-radius: 5px;
    text-align: center;
    
}

nav ul{
    text-align: center;
    
}
nav ul li{
    padding-right: 20px;
    background-color: gray;

}

nav ul li a{
    padding-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 1000px;
    font-style:inherit;
    color: #111;
    font-style: italic;
}


nav ul li a:hover{
    border: 1px solid green;
    color: blue;
    background-color: #fff;
    text-transform: uppercase;
    font-style: italic;
}

.banner-content {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url(group_img/about-us.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    height:max-content;
    /*background-size: contain;*/
}

.banner-about{
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url(group_img/About1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    height:max-content;

}

.events-banner{
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url(group_img/qn-&-answer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    height:max-content;
}

.contact-banner{
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url(group_img/contact-us.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    height:max-content;
}

.question-banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url(group_img/QuestionPage1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    height:max-content;
}

.resource-banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url(group_img/resource-documents.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    height:max-content;
}


div h3 {
    text-align: center;
    text-transform: capitalize;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: x-large;
    color: blue;
    text-shadow: #111;
    padding: 12%;
}

.content h2 {
    text-align: left;
    text-transform: capitalize;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    text-decoration: solid;
}

.content p{
    text-align: left;
    text-transform: normal;
    font-size:large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300px;
    text-decoration: solid;

}

footer div  {
    background-color: black;
    width: 100%;
    height: 300px;
}


.footer-content nav ul li a { 
    color: #fff;
    display: flex;
    flex: wrap row;
    align-items: flex-start;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;

}

.footer-content nav ul li a:hover {
    text-decoration: none;
}

.footer-content nav ul li p {
    padding-bottom: 10px;
}



/*STYLING THE CALCULATOR*/
.calculator {
    width:300px;
    height: 300px;
    background-color: #fff;
    border: 3px solid #111;
    border-radius: 5px;

}

#value1, #value2 {
    color: #111;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900px;
    margin: 20px 5px;
    padding-left: 10px;
}

#results {
    background-color: #f3f3f3;
    width:290px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
h6 {
    font-size: 16px;

}

.note {
    padding-top: 42px;
}